*{
    padding: 0;
    margin:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #edf1f4;
}
.Main{
    position: relative;
    width:23rem;
    padding:2rem;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),-15px -15px 20px #fffb;
    border-radius: 20px;
} 
.Main #head{
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    margin-bottom: 1rem;
}  
.Main .subMain{
    position: relative;
    display: grid;
}

.Main .subMain #value{
    position: relative;
    grid-column: span 4;
    user-select: none;
    background-color: beige;
    width:100%;
    height:6rem;
    overflow: hidden;
    font-weight: 560;
    line-height: 6rem;
    text-align: right;
    border-radius: 6px;
    padding-right: 3px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.6) -3px -3px 6px 1px inset;
}

.Main .subMain span{
    position: relative;
    padding: 15px;
    margin:15px;
    max-width: 40px;
    font-size: 1.2em;
    font-weight: bold;
    user-select: none;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color:#61686a;
    border: 1px solid #edf1f4;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),-5px -5px 20px #fff;
}
.Main .subMain span:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),inset -5px -5px 10px #fff;
}
.Main .subMain #clear{
    grid-column: span 2;
    padding:0 3rem;
    border:4px solid #edf1f4;
    color: azure;
    background-color: rgb(245, 12, 12);
}

.Main .subMain #add{
    grid-row: span 2;
}
.Main .subMain #equal{
    background-color: #4361ee;
    border:4px solid #edf1f4;
    color: white;
    font-weight: bold;
}
.Main .subMain #mul,#divide,#add,#sub,#dot,#per{
    color:#4361ee;
    font-size: 1.4rem;
    font-weight: bold;
}